@import '../variables.scss';
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather', serif;
  margin: 1.5rem 1rem;
  background: #fffcfb;
}

.orange-letters span {
    color: $main-font-color;
    opacity: 0.8;
}

header {
  display: flex;
  flex-direction: column;
  text-align: left;

  p {
    margin: 0;
  }

  .project-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    .project-skill {
      font-size: 0.85rem;
      background: $main-font-color;
      color: white;
      padding: 0.4rem;
      margin: 0.3rem 0.3rem 0.3rem 0;
      border-radius: 4px;
    }
  }
}

main {
    p {
        margin-top: 2rem;
    }

    .image-slideshow {
        display: flex;
        background: black;
        overflow: hidden;
    }

    li {
        margin-bottom: 0.2rem;
    }

    .navigation-links {
        display: flex;
        flex-direction: row;
        width: 100%;

        a {
            color: $main-font-color;
        }

        a:last-child {
            margin-left: auto;
        }
    }
}