html {
  height: 100%;
}

body {
  font-family: "Merriweather", serif;
  margin: 1.5rem 1rem;
  background: #fffcfb;
}

header {
  display: none;
  justify-content: flex-end;
}
header .burger-button {
  width: 25px;
  height: 25px;
}
header .main-nav .main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .main-nav .main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}
header .main-nav .main-nav__item a {
  text-decoration: none;
}

hr {
  border-top: 2px solid #ed7d31;
  margin-top: 1rem;
  width: 20%;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#hero-container h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

.orange-letters span {
  color: #ed7d31;
  opacity: 0.8;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
}
.social-links a {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}
.social-links a .svg-inline--fa {
  width: 25px;
}

p {
  line-height: 1.5rem;
}

#skills h4 {
  margin: 0;
  color: #ed7d31;
}
#skills p {
  margin: 0.3rem 0;
}
#skills .personal-skills {
  display: flex;
  flex-wrap: wrap;
}
#skills .personal-skills .personal-skill {
  font-size: 0.85rem;
  background: #ed7d31;
  color: white;
  padding: 0.4rem;
  margin: 0.3rem 0.3rem 0.3rem 0;
  border-radius: 4px;
}

#projects {
  display: block;
}
#projects p {
  color: white;
  font-size: 0.8rem;
  margin: 0.5rem;
}
#projects a {
  text-decoration: none;
}
#projects a:hover {
  transform: translateY(-1px);
  text-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
#projects .project-card {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #ff4040;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5rem;
  overflow: hidden;
}
#projects .project-card__content {
  width: 100%;
  margin: 0.8rem 0.6rem;
}
#projects .project-card__content h5 {
  margin: 0 0.5rem 0.5rem 0.5rem;
  font-size: 0.7rem;
  color: #9b1616;
}
#projects .project-card__content h2 {
  margin: 0.5rem;
  color: white;
  font-weight: 500;
}
#projects .project-card__content .project-card__content--links {
  text-align: right;
}
#projects .project-card__content .project-card__content--links a {
  text-decoration: none;
  background: white;
  color: #9b1616;
  padding: 0.4rem;
  font-size: 0.8rem;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.025rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
#projects .project-card__content .project-card__content--links .project-card__content--links__link {
  margin-right: 0.4rem;
  background: #9b1616;
  color: white;
}
#projects .project-tools {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}
#projects .project-tools .project-tool {
  font-size: 0.85rem;
  background: #9b1616;
  color: white;
  padding: 0.4rem;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 4px;
}

#contact {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
#contact h2 {
  align-self: center;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .home-container {
    max-width: 1280px;
    margin: auto;
  }

  .list-of-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .list-of-projects a {
    grid-column: 1;
    grid-row: 3;
  }
  .list-of-projects .project-card {
    margin-right: 0.6rem;
  }
  .list-of-projects .project-card .project-card__content {
    position: relative;
    padding-bottom: 3rem;
  }
  .list-of-projects .project-card .project-card__content .project-card__content--links {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 0 0 0.5rem;
    align-items: flex-end;
    width: 100%;
    float: right;
  }
  .list-of-projects .last-card {
    grid-column: span 2;
    margin-right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
